#
# Copyright (c) 2023 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0
#

server:
    port: 8086

bpdm-cert:
    name: "BPDM Certificate Management"
    description: "Service that manages and shares business partner certificates"
    version: "0.0.1"

    security:
        enabled: false

management:
    endpoint:
        health:
            probes:
                enabled: true
    health:
        livenessState:
            enabled: true
        readinessState:
            enabled: true

spring:
    datasource:
        driverClassName: org.postgresql.Driver
        password: ''
        url: jdbc:postgresql://localhost:5432/bpdm_certificates
        username: bpdm_certificates
    jpa:
        hibernate:
            ddl-auto: update

springdoc:
    api-docs:
        enabled: true
        path: /docs/api-docs
    swagger-ui:
        disable-swagger-default-url: true
        path: /ui/swagger-ui
        show-common-extensions: true
